img{
    height: 150px;
}
.desciption{
    font-size: 20px;
}
#cook-time{
    font-weight: bold;
}
.ingredients li{
    list-style: square;
}
.time{
    color: gray;
}
.external-link{
    color: SeaGreen;
}
h1, h2, p, li{
    font-family: Helvetica;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    background-color: #1c1c1c;
}